<div class="ingredient-list-container">
  <h1>Stocked Ingredients</h1>
  <div class="list">
    <% if @ingredients.any? %>
        <% @ingredients.each do |ingredient| %>
          <p><%= link_to ingredient.name, ingredient_path(ingredient) %></p>
        <% end %>
    <% else %>
      <p>Sorry, there are no ingredients in the pantry.</p>
    <% end %>
  </div>
</div>

<%= render "layouts/ingredient_form" %>
