$text-color: rgb(165, 49, 76);
body {
  background: linear-gradient( white, rgb(211, 153, 154)) fixed;
  background-repeat:
  no-repeat;
}

p {
  color: $text-color;
}

.form {
  padding: 20px;
  background-color: rgba(211, 139, 156, 0.769);
  width: fit-content;
  border: none;
  border-radius: 11px;
  margin: 10px;
}

.submit {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 3px;
  &:hover {
      background-color: rgb(152, 37, 37);
      color:white;
  }
}

.links {
  font-weight: bold;
  a {
    color: $text-color;
    &:hover {
      color:rgb(198, 113, 133);
    }
  }
}